<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Golf cort</title>
        <link href="stil.css" rel="stylesheet" type="text/css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
			<nav>
			<ul class="menu">
				<li> <a href="#"> Schools</a> </li>
				<li> <a href="#"> Instruction</a> </li>
				<li> <a href="#"> Equipment </a> 
						<ul class="sub-menu">
							<li><a href=""> Balls </a> </li>
							<li><a href=""> Bags </a> </li>
							<li><a href=""> Shoe Guide </a> </li>
						</ul>
				</li>
				<li> <a href="#"> Courses </a> 
						<ul class="sub-menu">
							<li><a href=""> Best golf courses </a> </li>
						</ul>
				</li>
				<li> <a href="#"> Golf world </a> 
						<ul class="sub-menu">
							<li><a href=""> Travelers championship </a> </li>
							<li><a href=""> PGA tour champions </a> </li>
							<li><a href=""> British open raking</a> </li>
						</ul>
				</li>
				<li> <a href="#"> Follow us </a> </li>
			</ul>
	<nav>
	
<div>






</div>
	
	
	
	</body>