

 
body{
	background-image:url(../template/golf1.jpg);
	background-repeat:no-repeat;
	background-size:100% 700px;
}
.menu{
	list-style-type: none;
	
	
}
.menu li{
	float:left;
	width:200px;
	height: 50px;
	line-height: 50px;
	text-align:center;
	background-color: #d1e0e0;
	
}

.menu li a{
	color: black;
	font-size:18px;
	text-decoration:none;
	margin:5px;
	
}

.menu li a:hover{
	background-color:#d1e0e0;
	color:grey;
	
	

	
}
.sub-menu{
	display:none;
	
}

.menu li:hover .sub-menu{
	display:block;
	background-color:#f0f5f5;
	list-style-type:none;
	font-size:14px;
	width:100%;
	padding:0  0; /*centrirali submenu */
}